 	  html,body {
      height:100%;
      width:100%;
      padding:0;
	  margin:0;
	  overflow:hidden;
      }

      body {
      background-color:#fff;
      color:#333;
      font-size:14px;
      overflow:hidden;
      font-family:Georgia, "Times New Roman", Times, serif;
      }

      a {
      color:#555;
	  font-weight:bold;
	  text-decoration:none;
      }
	  
	  a:hover{
	  text-decoration:underline;
	  }

      #header {
      height:115px;
      background:#444;
	  color:#fff;
      margin:0;
      }
	  
	  #headerText{
	  padding-top:20px;
      padding-left:25px;
	  width:70%;
	  float:left;
	  }

      #title {
	  font-family:Arial, Helvetica, sans-serif;
      font-size:20px;
	  font-weight:bold;
      text-align:left;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
      }

      #subtitle {
      font-size:13px;
	  margin-top:10px;
      overflow: hidden;
      }
	  
	  #logoArea{
	  float:right;
	  padding-top:25px;
	  padding-right:25px;
	  text-align:right;
	  }
	  
	  #social{
	  margin-bottom:20px;
	  }
	  
	  #msLink{
	  color:#fff;
	  font-family:Arial, Helvetica, sans-serif;
	  font-weight:bold;
	  font-size:13px;
	  outline:none;
	  }
	  
	  #logo{
	  border:none;
	  outline:none;
	  }
	  
	  #logoImg{
	  border:none;
	  outline:none;
	  }

      #map {
      margin:0;
      }
	  
	  #application{
	  border:none;
      width:100%;
      z-index:10;
      overflow:hidden;
	  }